include ../components/text-field.pug
include ../components/dropdown.pug

script 
  include ../../scripts/text-field.js
  include ../../scripts/dropdown.js

.text-field-container 
  +text-field 

.dropdown-wrapper
  +dropdown("ыапы","врвре","врво","впорв")