include ../components/text-field.pug
include ../components/dropdown.pug
include ../components/dropdown-quests.pug

script 
  include ../../scripts/text-field.js
  include ../../scripts/dropdown.js
  include ../../scripts/dropdown-quests.js
.text-field-container 
  +text-field 

.dropdown-wrapper
  +dropdown("2 спальни, 2 кровати...","Спальни","Кровати","Ванные комнаты","2","2","0")
  +dropdown-quests("Сколько гостей","Взрослые","Дети","Младенцы","0","0","0")