.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
  }

  // Box checked
  &:checked + label:before {
    background: rgba(255, 255, 255, 1);
  }
  
  // Disabled state label.
  &:disabled + label {
    color: rgba(255, 255, 255, 1);
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: rgba(255, 255, 255, 1);
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 4px;
    // background: linear-gradient(to bottom, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
    background: transparent;
    width: 8px;
    height: 6px;
    // box-shadow: 
    //   2px 0 0  black,
    //   4px 0 0  black,
    //   4px -2px 0  black,
    //   4px -4px 0  black,
    //   4px -6px 0  black,
    //   4px -8px 0  black;
   
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-image-source: conic-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
    border-image-slice: 1;

    // transform: rotate(45deg);
    // transform: scale(-1, 1);
    // transform:rotateX(225deg);
    -webkit-transform: rotateY(
      180deg
    );
    transform: rotate(
      314deg
    );
  }
}
