.dropdown-container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown-head {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px 4px 4px 4px;
  width: 320px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-left: 14px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 18px;
  background-color: #fff;
}
.dropdown-list{
  display: none;
  position: absolute;
  width: 320px;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.dropdown-list > div{
    display: flex;
    flex-direction: row;
    line-height: 18px;
    padding-left: 14px;
    height: 44px;
    color:rgba(31, 32, 65, 1);
    font-weight: bold;
    align-items:center;
  }

//--стили при раскрытии списка--//
.show {
  display: block;
}
.dropdown-head-show{
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px 4px 0px 0px;
}
.list-counter{
  display: flex;
  flex-direction: row;
}
.btn-decrement, .btn-increment{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:rgba(31, 32, 65, 0.25);
}
.label-count{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}










//----------------------СТИЛИ ДЛЯ РЕАЛИЗАЦИИ РАСКРЫТИЯ СПИСКА С ПОМОЩЬЮ CSS---------------------------//

// .dpordown-container{
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   &:hover{
//     .dropdown-list {
//       visibility: visible;
//       opacity: 1;
//     }
//   }
// }
// .dropdown-head {
//   display: flex;
//   flex-direction: row;
// }
// .dropdown-head:after {
//   content: "\2304";
// }
// .dropdown-list{
//   display: flex;
//   flex-direction: column;
//   visibility: hidden;
//   opacity: 0;
//   z-index: 5;
//   position: absolute;
//   padding-top: 26px;
// }
// .dropdown-list > div{
//   display: flex;
//   flex-direction: row;
// }

//------------------------------------------------------------------------------------------------------------//