//СТИЛИ ДЛЯ РЕАЛИЗАЦИИ РАСКРЫТИЯ СПИСКА С ПОМОЩЬЮ CSS

// .dpordown-container{
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   &:hover{
//     .dropdown-list {
//       visibility: visible;
//       opacity: 1;
//     }
//   }
// }
// .dropdown-head {
//   display: flex;
//   flex-direction: row;
// }
// .dropdown-head:after {
//   content: "\2304";
// }
// .dropdown-list{
//   display: flex;
//   flex-direction: column;
//   visibility: hidden;
//   opacity: 0;
//   z-index: 5;
//   position: absolute;
//   padding-top: 26px;
// }
// .dropdown-list > div{
//   display: flex;
//   flex-direction: row;
// }

.dropdown-container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown-list{
  // display: flex;
  // flex-direction: column;
  // visibility: hidden;
  // opacity: 0;
  // z-index: 5;
  // position: absolute;
  //padding-top: 26px;
  display: none;
  //visibility: hidden;
  position: absolute;
}

.show {
  display: block;
  //visibility: visible;
}
.dropdown-head {
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.dropdown-head-show{
  border: 1px solid rgba(31, 32, 65, 0.5);
}