//-------main components styles-----//
.dropdown-quests-head {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px 4px 4px 4px;
  width: 320px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding-left: 14px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 18px;
  background-color: #fff;
 
}
.dropdown-quests-list {
  display: none;
  position: absolute;
  width: 320px;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.dropdown-quests-list-container{
  height: 119px;
  display: flex;
  flex-direction: column;
}
.dropdown-quests-list > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 18px;
  padding-left: 14px;
  color:rgba(31, 32, 65, 1);
  font-weight: bold;
  align-items:center;
}
.dropdown-quests-list-container > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dropdown-quests-head-arrow-container{
  height: 30px;
  width: 45px;
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
  align-items: center;
  cursor:pointer;
  padding-right: 15px;
}


//--стили при раскрытии списка--//
.quests-show {//для списка
  border: 1px solid rgba(31, 32, 65, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 7px;
  box-shadow: 
  4px 4px 6px -1px rgba(31, 32, 65, 0.05), 
  -4px 4px 6px -1px rgba(31, 32, 65, 0.05);
}
.dropdown-quests-head-show{
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px 4px 0px 0px;
}


//---small clickable elements-------//
.quests-list-counter{
  display: flex;
  flex-direction: row;
}
.quests-btn-decrement, .quests-btn-increment{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:rgba(31, 32, 65, 0.25);
  cursor:pointer;
  user-select: none;
}
.dropdown-quests-head-arrow{
  border: solid rgba(31, 32, 65, 0.75);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);  
}


///-----small elements----//
.quests-label-count{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
.quests-list-title{
  font-size: 12px;
  font-weight: bold;
}
