@import './modules/logo.scss';
@import './modules/color-block.scss';
@import './fonts.scss';
@import './modules/text-types.scss';
@import './modules/colors-and-types.scss';

*{
  margin:0;
  padding:0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}