mixin dropdown
  .dpordown-container
    .dropdown-head 
      .dropdown-head-text 
      .dropdown-head-arrow
    .dropdown-list
      .dropdown-list-item-1
      .dropdown-list-item-2
      .dropdown-list-item-3