mixin dropdown(head, item_1, item_2, item_3)
  .dpordown-container
    .dropdown-head(onclick='myFunction()')

      .dropdown-head-text
        p= head 
      .dropdown-head-arrow


    #dropdown-list.dropdown-list 

      .dropdown-list-item-1
        .list-title
          p= item_1
        .list-counter
          .btn-decrement
            span &#8722;
          .label-count
            span 0
          .btn-increment
            span &#43;

      .dropdown-list-item-2
        .list-title
          p= item_2
        .list-counter
          .btn-decrement
            span &#8722;
          .label-count
            span 0
          .btn-increment
            span &#43;
        
      .dropdown-list-item-3
        .list-title
          p= item_3
        .list-counter
          .btn-decrement
            span &#8722;
          .label-count
            span 0
          .btn-increment
            span &#43;