doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UI-KIT
body
  include box/components/logo.pug
  include box/pages/colors-and-types.pug
  include box/pages/form-elements.pug
  include box/pages/colors-and-types.pug